# === Gradle ===
.gradle/
build/
out/

# === IDE ===
.idea/
*.iml
*.ipr
*.iws
*.log

# === OS ===
.DS_Store
Thumbs.db

# === Eclipse ===
.settings/
.project
.classpath
bin/

# === 기타 ===
node_modules/

# Local DB credentials
config/application-oracle-secret.properties
config/application-postgresql-secret.properties