<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kji.scheduler.mapper.DynamicJobMapper">

  <select id="findAllJobList" resultType="com.kji.scheduler.dto.JobInfoDto">
  SELECT 
    JD.JOB_NAME           AS JOBNAME,
    JD.JOB_GROUP          AS JOBGROUP,
    JD.JOB_CLASS_NAME     AS JOBCLASSNAME,
    JD.DESCRIPTION        AS DESCRIPTION,
    JD.IS_DURABLE         AS ISDURABLE,
    JD.JOB_DATA           AS JOBDATA,
    TR.TRIGGER_NAME       AS TRIGGERNAME,
    TR.TRIGGER_GROUP      AS TRIGGERGROUP,
    TR.TRIGGER_STATE      AS TRIGGERSTATE,
    TR.TRIGGER_TYPE       AS TRIGGERTYPE,
    TR.START_TIME         AS STARTTIME,
    TR.END_TIME           AS ENDTIME,
    TR.NEXT_FIRE_TIME     AS NEXTFIRETIME,
    TR.PREV_FIRE_TIME     AS PREVFIRETIME,
    TR.MISFIRE_INSTR      AS MISFIREINSTR,
    TR.PRIORITY           AS PRIORITY,
    CT.CRON_EXPRESSION    AS CRONEXPRESSION,
    CT.TIME_ZONE_ID       AS TIMEZONEID,
    ST.REPEAT_COUNT       AS REPEATCOUNT,
    ST.REPEAT_INTERVAL    AS REPEATINTERVAL,
    ST.TIMES_TRIGGERED    AS TIMESTRIGGERED
FROM 
    QRTZ_JOB_DETAILS JD
LEFT JOIN 
    QRTZ_TRIGGERS TR
    ON JD.JOB_NAME = TR.JOB_NAME
   AND JD.JOB_GROUP = TR.JOB_GROUP
LEFT JOIN 
    QRTZ_CRON_TRIGGERS CT
    ON TR.TRIGGER_NAME = CT.TRIGGER_NAME
   AND TR.TRIGGER_GROUP = CT.TRIGGER_GROUP
LEFT JOIN 
    QRTZ_SIMPLE_TRIGGERS ST
    ON TR.TRIGGER_NAME = ST.TRIGGER_NAME
   AND TR.TRIGGER_GROUP = ST.TRIGGER_GROUP
ORDER BY 
    JD.JOB_GROUP, JD.JOB_NAME
</select>

</mapper>