<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kji.scheduler.mapper.ExternalApiCallLogMapper">

	<!-- External API 호출 시작 이력 저장 -->
	<insert id="insertStart"
			parameterType="com.kji.scheduler.dto.ExternalApiCallLogDto"
			useGeneratedKeys="true"
			keyProperty="apiCallLogId"
			keyColumn="API_CALL_LOG_ID">
		INSERT INTO SCHED_EXTERNAL_API_CALL_LOG (
			EXTERNAL_API_ID,
			FIRE_INSTANCE_ID,
			STARTED_AT,
			STATUS,
			CREATED_AT
		)
		VALUES (
			#{externalApiId},
			#{fireInstanceId, jdbcType=VARCHAR},
			SYSTIMESTAMP,
			#{status},
			SYSTIMESTAMP
		)
	</insert>
	
	<!-- External API 호출 종료 이력 수정 -->
	<update id="updateFinish" parameterType="com.kji.scheduler.dto.ExternalApiCallLogDto">
		UPDATE SCHED_EXTERNAL_API_CALL_LOG
		   SET HTTP_STATUS = #{httpStatus, jdbcType=NUMERIC},
		       FINISHED_AT = SYSTIMESTAMP,
		       RUN_MILLIS = #{runMillis, jdbcType=NUMERIC},
		       STATUS = #{status},
		       ERROR_MESSAGE = #{errorMessage, jdbcType=VARCHAR}
		 WHERE API_CALL_LOG_ID = #{apiCallLogId}
	</update>
	
</mapper>