<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kji.scheduler.mapper.JobLogMapper">

	<insert id="insertStart" parameterType="com.kji.scheduler.dto.JobLogDto">
    INSERT INTO SCHED_EXEC_LOG(
      FIRE_INSTANCE_ID, JOB_NAME, JOB_GROUP, TRIGGER_NAME, TRIGGER_GROUP,
      SCHEDULED_FIRE_TIME, ACTUAL_FIRE_TIME, STATUS
    ) VALUES (
      #{fireInstanceId}, #{jobName}, #{jobGroup}, #{triggerName}, #{triggerGroup},
      #{scheduledFireTime}, #{actualFireTime}, #{status}
    )
  </insert>

  <update id="updateFinish">
    UPDATE SCHED_EXEC_LOG
       SET STATUS = #{status},
           FINISHED_AT = SYSTIMESTAMP,
           RUN_MILLIS = #{runMillis, jdbcType=NUMERIC},
           EXCEPTION_MESSAGE = #{exceptionMessage, jdbcType=VARCHAR}
     WHERE FIRE_INSTANCE_ID = #{fireInstanceId}
  </update>

  <update id="updateVetoed">
    UPDATE SCHED_EXEC_LOG
       SET STATUS = 'VETOED',
           FINISHED_AT = SYSTIMESTAMP
     WHERE FIRE_INSTANCE_ID = #{fireInstanceId}
  </update>
  
</mapper>